/* corpo */
body{


    /* cor do fundo */
    background-color: antiquewhite;


    /* tamanho da fonte */
    font-size: small;


    /* alinhamento do texto */
    text-align: center;
}


/* configuração do titulo */
.titulo{


    /* cor da fonte */
    color: darkorange;


    /* tamanho da fonte */
    font-size: large;


    /* tipo da fonte */
    font-family: sans-serif;


    /* tamanho da fonte */
    font-size: larger;
}


/* configuração do paragrafo */
p{


    /* cor da fonte */
    color: black;


    /* tamanho da fonte */
    font-size: medium;


    /* alinhamento do texto */
    text-align: center;
}

/* imagem */
img{


    /* cor de fundo */
    background-color: lightblue;


    /* distancia da borda do conteudo */
    padding: 5px;


    /* raio da borda da imagem*/
    /* tipo da borda da imagem */
    /* cor da borda da imagem*/
    /* borda da imagem */
    border:black 4px solid; border-radius: 16px;
}



.sub_titulo_CMD{


    /* cor da fonte */
    color: darkorange;


    /* tamanho da fonte */
    font-size:large;


    /* tipo da fonte */
    font-family: sans-serif;


    /* tamanho da fonte */
    font-size: large;
}


.sub_titulo_multimetro{
    

    /* cor da fonte */
    color: darkorange;


    /* tamanho da fonte */
    font-size: large;


    /* tipo da fonte */
    font-family: sans-serif;


    /* tamanho da fonte */
    font-size: larger;
}