/* corpo */
body{


    /* cor do fundo */
    background-color: antiquewhite;


    /* tamanho da fonte */
    font-size: small;


    /* alinhamento do texto */
    text-align: center;
}


/* configuração do titulo */
.Sistema_Operacional{


    /* cor da fonte */
    color: darkorange;


    /* tamanho da fonte */
    font-size: large;


    /* tipo da fonte */
    font-family: sans-serif;

    
    /* alinhamento do texto */
    text-align: center;


    /* tamanho da fonte */
    font-size: large;
}


/* configuração do titulo */
.codigoscmd{


    /* cor da fonte */
    color: darkorange;


    /* tamanho da fonte */
    font-size: large;


    /* tipo da fonte */
    font-family: sans-serif;

    
    /* alinhamento do texto */
    text-align: center;
}



/* configuração do paragrafo */
p{


    /* cor da fonte */
    color: black;


    /* tamanho da fonte */
    font-size: medium;


    /* alinhamento do texto */
    text-align: center;
}


/* configuração da imagem */
.pos_img{


    /* controle do display */
    text-align: center;


    /* para a direção da imagem poder ser alteravel */
    flex-direction: row;


    /* justificação do conteudo */
    justify-content: center
}


/* imagem */
img{


    /* cor de fundo */
    background-color: lightblue;


    /* distancia da borda do conteudo */
    padding: 5px;


    /* raio da borda da imagem*/
    /* tipo da borda da imagem */
    /* cor da borda da imagem*/
    /* borda da imagem */
    border:black 4px solid; border-radius: 16px;
}


/* texto */
.cor_texto{


    /* cor do texto */
    color: black;
}


.ipconfig{


    /* controle do display */
    text-align: center;


    /* para a direção da imagem poder ser alteravel */
    flex-direction: row;


    /* justificação do conteudo */
    justify-content: center;
}

.note{


    /* controle do display */
    text-align: center;


    /* para a direção da imagem poder ser alteravel */
    flex-direction: row;


    /* justificação do conteudo */
    justify-content: center;
}

.ren{


    /* controle do display */
    text-align: center;


    /* para a direção da imagem poder ser alteravel */
    flex-direction: row;


    /* justificação do conteudo */
    justify-content: center;
}

.dir{


    /* controle do display */
    text-align: center;


    /* para a direção da imagem poder ser alteravel */
    flex-direction: row;


    /* justificação do conteudo */
    justify-content: center;
}

.del{


    /* controle do display */
    text-align: center;


    /* para a direção da imagem poder ser alteravel */
    flex-direction: row;


    /* justificação do conteudo */
    justify-content: center;
}

.attrib-{


    /* controle do display */
    text-align: center;


    /* para a direção da imagem poder ser alteravel */
    flex-direction: row;


    /* justificação do conteudo */
    justify-content: center;
}

.attrib{


    /* controle do display */
    text-align: center;


    /* para a direção da imagem poder ser alteravel */
    flex-direction: row;


    /* justificação do conteudo */
    justify-content: center;
}

.circuitoserie{


    /* controle do display */
    text-align: center;


    /* para a direção da imagem poder ser alteravel */
    flex-direction: row;


    /* justificação do conteudo */
    justify-content: center;
}

.circuitoparalelo{


    /*  */
    text-align: center;


    /* para a direção da imagem poder ser alteravel */
    flex-direction: row;


    /* justificação do conteudo */
    justify-content: center;

  
}

/* configuração do titulo */
.atividadesmultimetro{


    /* cor da fonte */
    color: darkorange;


    /* tamanho da fonte */
    font-size: large;


    /* tipo da fonte */
    font-family: sans-serif;

    
    /* alinhamento do texto */
    text-align: center;
}